html{
    /* Utilizar variables */

    --fontTitle: "Railway", sans-serif;
    --generalFont: "Roboto Condensed", sans-serif;

    --bgColor: #000000;
    --hgColor: #EFECE3;
    --primaryColor: #8FABD4;
    --secondaryColor: #4A70A9;
}

/* Color body + fuentes para títulos */

body{
    background-color: var(--bgColor);
    color: var(--hgColor)
}

.pageTitle{
    font-family: var(--fontTitle);
}

a{
    font-size: 20px;
    color: var(--hgColor);
    text-decoration: none;
    background-color: var(--secondaryColor);
    padding: 2.5px;
    border-radius: 5px;
}
a:hover{
    font-size: 25px;
    padding: 5px;
}

li, p, a{
    font-family: var(--generalFont);
}

/* Estilos para Barra de Navegación */

nav#navBar{
    background-color: var(--primaryColor);
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

ul#navLinks{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: end;
}

li.navBarItem{
    margin: 0px 5px 0px 5px;
}

/* Estilo estándar para tarjetas de productos */

div.cardProduct{
    background-color: var(--primaryColor);
    text-align: center;
    align-content: center;
    width: 300px;
    height: 325px;
    border-radius: 10px;
    margin: 25px 0px 25px 0px;
}

div.productRow{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}


/* h1{
    font-family: var(--fontTitle);
    background-color: var(--bgColor);
    color: var(--hgColor);
} */